/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: var(--footerDarkBg);
    color: #fff;
}

/* Logo */
.navbar .logo {
    order: 2;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    margin-right: 20px;
    transition: border 0.5s ease-in-out;
}

.navbar .logo:hover {
    border: 1px solid rgba(255, 255, 255, 1);
}

.navbar .logo img {
    width: 50px;
    padding: 10px;
}

/* Nav buttons */
nav {
    order: 1;
}

nav ul {
    display: flex;
}

nav ul li a {
    padding: 15px 10px;
    margin: 38px;
    color: #fff;
    opacity: 0.6;
    transition: opacity 0.37s ease-in-out;
}

nav ul li a:hover {
    border-radius: 2px;
    opacity: 1;
}

nav ul li a:active, nav ul li a:focus {
    border-bottom: 2px solid var(--mainBackground);
    opacity: 1;
}

/* Todo */
/* 
    todo: Add max-width to navbar;
    todo: Add hover to buttons
*/
