/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  background-color: var(--footerDarkBg);
  color: #fff;
  z-index: 9;
}

/* Logo */
.navbar .logo {
  order: 2;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  margin-right: 20px;
  transition: border 0.5s ease-in-out;
}

.navbar .logo:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}

.navbar .logo img {
  width: 50px;
  padding: 10px;
}

/* Nav buttons */
nav {
  order: 1;
}

nav ul {
  display: flex;
}

nav ul li a {
  padding: 15px 10px;
  margin: 38px;
  color: #fff;
  opacity: 0.6;
  transition: opacity 0.37s ease-in-out;
}

nav ul li a:hover {
  color: inherit;
  border-radius: 2px;
  opacity: 1;
}

nav ul li a:active,
nav ul li a:focus {
  border-bottom: 2px solid var(--mainBackground);
  opacity: 1;
}

/* Hamburger Menu */
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #e4e4e4;
  margin: 5px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Hero Section*/
#hero {
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 110px 20px 30px;
}

.content .social a {
  margin: 0 20px;
}

#vision {
  margin: 0 20px;
}

/* Vision Section */
#vision .vision-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 4px 4px 4px 3px var(--shadow);
}

/* Media Query For Mobile View */
@media screen and (max-width: 867px) and (max-width: 767px) {
  nav ul li {
    /*? 100% divided by the current number of nav links which is 4 so that each nav links have the same height on whatever the height of the screen with the minimum height being 50px */
    height: calc(100% / 4);
    min-height: 50px;
    display: flex;
    align-items: center;
    background-color: inherit;
  }

  nav ul li a {
    font-size: 20px;
    font-weight: 600;
  }

  nav ul li a:active,
  nav ul li a:focus {
    border-bottom: 2px solid var(--spotColor);
    opacity: 1;
  }

  .navbar {
    position: fixed;
    width: 100%;
    top: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-list {
    position: absolute;
    right: 0;
    /*? the height of the nav list is 100% - the height of the nav bar, so whatever you set the navbar height variable to, it will automatically be calculated and the nav-list will not shift its position under the navbar. and the top position is also equal to the nav bar height. */
    height: calc(100vh - var(--navbar-height));
    top: var(--navbar-height);
    background-color: var(--footerDarkBg);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translate(100%);
    z-index: -1;
  }

  .burger {
    display: block;
    margin-right: 16rem;
  }

  .nav-list li {
    opacity: 0;
  }
}

@media screen and (max-width: 767px) and (max-width: 667px) {
  .burger {
    display: block;
    margin-right: 13rem;
  }
}

/* Hamburger Menu Logic from Javascript */
.active {
  transform: translateX(0%);
}

.toggle .line-one {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line-two {
  opacity: 0;
}

.toggle .line-three {
  transform: rotate(45deg) translate(-5px, -5px);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Button  */
.buttons {
  margin-top: 60px;
  text-align: center;
}

.buttons a {
  margin: 10px 40px;
}

.vision-content a {
  transition: all 0.5s ease-in-out;
}

.vision-content a span {
  padding-left: 1.5px;
  transition: all 0.4s ease-in-out;
}

.vision-content a:hover span {
  transform: rotate(90deg);
}

/* Projects */

.projects .project-box {
  display: block;
  transition: all 0.4s ease-in-out;
  height: 100%;
}

.projects .project-box:hover {
  transform: translateY(-10px);
  box-shadow: 2px 2px 5px rgba(9, 156, 176, 0.5);
  border-radius: 11px;
}

.projects h2 {
  text-align: center;
  margin: 50px 0 20px;
}

.project {
  height: 100%;
  overflow: hidden;
  /* padding: 40px; */
  /* background: #fff url(../images/under-construction.jpg) no-repeat center center/cover;
  background-size: cover;
  background-position: center; */
}

.project p {
  font-size: 16px;
  line-height: 1.6;
}

.project-content {
  padding: 0.5rem 1rem;
  background-color: #212529;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-image {
  height: 250px;
  width: 100%;
}

/* .project div {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
} */

.project div span {
  margin: 0 5px;
  color: var(--secondaryBtn);
}

.flex-col-3 {
  width: 100%;
  height: auto;
  columns: 3;
}

@media (max-width: 768px) {
  .flex-col-2 {
    width: 100%;
    height: auto;
    columns: 1;
  }
}

/* Video section */
#video-section #channel-video {
  display: block;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

/* Video section ends */

/* Moderators section */
#moderators {
  padding: 2rem 1rem 1rem;
  margin-top: 2rem;
  background: var(--darkBackground);
  color: #fff;
  position: relative;
}

#moderators .text-center {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: grey;
}

#moderators .text-center a {
  font-size: 1.2rem;
  color: grey;
}

#moderators .text-center a:hover {
  text-decoration: underline;
}

.overlay {
  position: absolute;
  top: 140px;
  left: 50%;
  width: 1px;
  height: 700px;
  background: var(--heading);
}

.user-profile {
  padding: 1rem 0.5rem;
  margin-left: 1rem;
}

.user-profile h3 {
  margin-bottom: 0.2rem;
  font-size: 1.3rem;
  color: #fff;
  font-weight: 600;
}

.user-profile p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.user-profile ul {
  color: #c0baba;
  margin: 1.2rem 0 0.5rem;
}

.user-profile li {
  font-size: 0.8rem;
}

.social-profiles a {
  color: #fff;
  margin: 0 0.3rem;
}

.social-profiles a:hover {
  color: grey;
}

#moderators .box-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  margin: 2rem;
}

/* Responsive Moderators */
@media (max-width: 1000px) {
  #moderators .container {
    width: 100%;
  }

  #moderators .box-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
    column-gap: 0rem;
    margin: 0rem;
  }

  #moderators .overlay {
    display: none;
  }

  .user-profile h3 {
    font-size: 1.08rem;
  }
}

/* Footer starts */
.footer {
  display: flex;
  background-color: var(--footerDarkBg);
}

.footer .copyright-text {
  color: var(--mainBackground);
}
